body{
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#057858 ;
    height: 8vh;
}
header nav a {
    text-decoration: none;
    color: #fff;
}
header nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 5vw;
}
header div h5 {
    color: #fff;
}
header div {
    display: flex;
    align-items: center;
    margin-left: 3vw;
}
header button {
    background-color:#FF0000 ;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    padding:0 1em 0 1em ;
    color: #fff;
}

.container {
    background-image: url(images/header2\ 1.png);
    height: 80vh;
    background-size: 100% 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.container > * {
    color: #fff;
}

.h3{
    margin-top: 8vh;
    text-align: center;
}

.containerDon {
    margin: 8vh 25vw 0 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50vw;
    box-shadow:1px 1px 3px 1px rgba(0,0,0,0.17);
    padding: 5% 0 5% 0;
}

.containerDon div div{
    border: solid 2px gray;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 160px;
    border-radius: 5px;
    text-align: center;
    gap: 0;
}
.containerDon div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.containerDon div button{
    width: 6vw;
    height: 5vh;
    border-radius: 5px;
}
.containerDon > button{
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 40vw;
    color: #fff;
    border: none;
}
#green{
    background-color:#0FB881 ;
    color: #fff;
}
#caseGreen{
    background-color: #EDFEF6;
    border: solid 2px #66CAA4;
}