body{
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#057858 ;
    height: 8vh;
}
header nav a {
    text-decoration: none;
    color: #fff;
}
header nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 5vw;
}
header div h5 {
    color: #fff;
}
header div {
    display: flex;
    align-items: center;
    margin-left: 3vw;
}
header button {
    background-color:#FF0000 ;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    padding:0 1em 0 1em ;
    color: #fff;
    border: none;
}

.container {
    background-image: url(images/header2\ 1.png);
    height: 80vh;
    background-size: 100% 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.container > * {
    color: #fff;
}

.h3{
    margin-top: 8vh;
    text-align: center;
}

.containerDon {
    margin: 8vh 25vw 8vh 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: clamp(17em,1000px,80vw);
    box-shadow:1px 1px 3px 1px rgba(0,0,0,0.17);
    padding: 5% 0 5% 0;
}

.containerDon div div{
    border: solid 2px gray;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: clamp(7em,500px,15vw);
    height: 160px;
    border-radius: 5px;
    text-align: center;
    gap: 0;
}
.containerDon div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.containerDon div button{
    width: clamp(5em,15px,6vw);
    height: clamp(3em,10px,5vh);
    border-radius: 5px;
}
.containerDon > button{
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: clamp(15em,800px,60vw);
    color: #fff;
    border: none;
}
#green{
    background-color:#0FB881 ;
    color: #fff;
}
#caseGreen{
    background-color: #EDFEF6;
    border: solid 2px #66CAA4;
}
.containerMission{
    background-color:#D8F7E8 ;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 12vh 0 12vh 0;
    
    
}

.containerMission div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    margin: 0 5vw 0 5vw;
    border-radius: 25px;
    flex-wrap: wrap;
    
}
.containerMission div img{
    width: clamp(800px,80vw);
}
.containerMission div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    width: clamp(15em,500px,40vw);
}

.grid{
        margin:8vh 12vw 8vh 12vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 32px;
        height: 100vh;
        }
.animaux { 
    grid-area: 1 / 1 / 4 / 4;
    background-image: url(images/lunapng\ 2.png);
    background-size: 100% 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    padding-left: 3vw;
}
.luna { 
    grid-area: 4 / 1 / 5 / 2;
    background-image: url(images/lunapng\ 2.png);
    background-size: 100% 100%;
    border: solid 7px #3AA331;
    border-radius: 12px;
}
.oscar {
    grid-area: 4 / 2 / 5 / 3;
    background-image: url(images/oscarpng\ 1.png);
    background-size: 100% 100%;
}
.max {
    grid-area: 4 / 3 / 5 / 4;
    background-image: url(images/maxpng\ 2.png);
    background-size: 100% 100%;
}
#light{
    font-weight:100;
}
.containerQuizz{
    background-color: #EDFEF6 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.containerQuizz > div{
    background-color: #fff;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 72vw ;
    height: 30vh;
    box-shadow:1px 1px 3px 1px rgba(0,0,0,0.17);
    display: flex;
    flex-direction: column;
    padding: 3px;
    

}
.containerQuizz div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 5vw;
}
.containerQuizz div div p{
    background-color: #F3F4F6;
    width: 30vw;
    height: clamp(8em,40px,9vh);
    display: flex;
    align-items: center;
    border-radius: 12px;

}
.containerImpact{
    padding: 12vh 0 12vh 0;
    background-color: #EDFEF6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.containerImpact div{
    display: flex;
    flex-direction: row;
    gap:30px;
    width: clamp(50px , 15vw);
}
.containerImpact div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.containerImpact div div img{
    height: 12vh;
}
.containerTemoignage{
    margin: 8vh 0 8vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;


}
.containerTemoignage div {
    width: 18vw;
    height: 40vh;
    box-shadow:1px 1px 3px 1px rgba(0,0,0,0.17);
    border-radius: 12px;
    flex-wrap: wrap;
}

footer{
    background-color: #202938;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 30vh;
    gap: 30px;
}
.columnFooter {
display: flex;
flex-direction: row;
align-items: center;
}

footer div {
display: flex;
gap: 30px;
flex-direction: column;
}
.form {
margin: 8vh 12vw 8vh 12vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
width: 70vw;
box-shadow:1px 1px 3px 1px rgba(0,0,0,0.17);
padding: 5% 0 5% 0;
}
.form div {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
}
textarea, input, select {
    border-radius: 8px;
}
input,select{
    height: 30px;
}
#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #057858;
    border: none;
    border-radius: 12px;
    color: #FFF;
    height: 8vh;
    font-size: 25px;
}
.error{
    color: #FF0000;
    font-size: small;
}
#cacher{
    display: none;
}

/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Partie Responsive

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

@media screen and (max-width: 360px) {
    .grid{
        height: 55vh;
    }
    .animaux{
        height: 40vh;
    }
    .luna,.oscar,.max{
        height: 10vh;
    }
    .container{
        height: 50vh;
    }
    .containerMission div{
        display: flex;
        flex-direction: column;
    }
    .containerTemoignage{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 50vh;
        align-items: flex-start;
    }
    #alignDon{
        display: flex;
        flex-direction: column;
    }
    .containerDon{
        margin: 8vh 0 8vh 6vw;
        
    }
    .containerImpact div{
        display: flex;
        flex-direction: column;
    }
    .containerTemoignage div {
        width: 200px;
    }
    .containerQuizz div div{
        padding-left: 0;
    }
    #cacher{
        display: block;
    }
    #acceuil,#contact,#donner{
        display: none;
    }
}